[Unit]
Description=Example systemd service

[Service]
Type=simple
ExecStart=/home/dkuzn/student-service/student-service --fullname "Ivanov Ivan Ivanovich"
Restart=no-failure

[Install]
WantedBy=multi-user.target